<div>
    <p>
        You may have wanted an explanation for:
    </p>
    <p>
        <span class="explained">Consent form</span> – rationale for informed consent here.
    </p>
    <p>
        <span class="explained">Name</span> – given name (first name) followed by a space followed by family name (last name), 
        as reflected by our electronic health record.
    </p>
    <p>
        <span class="explained">Birth date</span> – date of birth mm/dd/yyyy, as reflected by our electronic health record.
    </p>
    <p>
        <span class="explained">WE CARE Collaborative: WEstern CAncer Risk Evaluation</span> – A collaboration between
        <span data-bind='text: sponsorName'></span> and others dedicated to identifying people with increased
        chances of developing cancer and and informing them of measures they can take to reduce that risk.
    </p>
</div>