<div>
    <p>
        You may have wanted an explanation for:
    </p>
    <p>
        <span class='explained'>Ovarian cancer</span> – Cancer of the ovary is cancer arising from the ovary, 
        the organ that produces eggs in females.  The ovary has several types of cells.  Cancer in  the 
        “epithelial” cells of the ovary, is associated with BRCA mutations. Up to 60% of women (6 in 10) 
        who get epithelial ovarian cancer have a mutation in the BRCA genes.
     </p>
    <p>
        <span class='explained'>Cancer of the fallopian tubes</span> – Cancers in some organs near the ovary also 
        more commonly have BRCA mutations, including the fallopian tubes (which carries eggs from the ovary to the uterus). 
    </p>
    <p>
        <span class='explained'>Cancer of the peritoneum (the lining of the abdominal cavity)</span> – Cancers in some organs 
        near the ovary also more commonly have BRCA mutations, including the peritoneum (a lining that covers the abdominal organs).
    </p>
    <p>
        We group these three types of cancer (epithelial ovarian, primary peritoneal, and fallopian tube cancers)  together
        when discussing “ovarian cancer” that is associated with BRCA mutations.
    </p>
    <p>
        For more details see <a href="http://en.wikipedia.org/wiki/Ovarian_cancer">
        http://en.wikipedia.org/wiki/Ovarian_cancer</a>
    </p>
</div>