<div>
    <p>
        Q3: Have you ever had <span class='explained'>breast cancer</span>,
        including <span class='explained'>DCIS</span>
        (“cancer” does not include benign changes)?
    </p>
    <table width='70%'>
        <tr>
            <td width='25%' valign='center'>
                <input type='radio' name='Q3' value='Yes' data-bind='checked: pHxBreastCA'>Yes</input>
            </td>
            <td class="hello" width='25%' valign='center'>
                <input type='radio' name='Q3' value='No' data-bind='checked: pHxBreastCA'>No</input>
             </td>
            <td colspan=2></td>
        </tr>
    </table>
    <!--
    <br>
    <div data-bind='html: assembleResults'>
    </div>
    -->
</div>