<div>
    <p>
        More information will help us assess your chances of having BRCA gene mutations.
        Please answer ALL of the following questions about <b><i>your</i></b> breast cancer ...
    </p>
    <p>
    <table frame='border' rules='all' border='2px'>
        <tr>
            <td width='50%' valign='top'>
                Q3a: I was aged 50 years old or younger when my breast cancer was first diagnosed?
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3a' value='Yes' data-bind='checked: pHxBrCALE50Years'>Yes</input>
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3a' value='No' data-bind='checked: pHxBrCALE50Years'>No</input>
            </td>
            <td width='25%'>
                <input type='radio' name='Q3a' value='Unknown' data-bind='checked: pHxBrCALE50Years'>I don't know</input>
            </td>
        </tr>
        <tr>
            <td width='50%' valign='top'>
                Q3b: My cancer was described as "triple negative", that is NOT having
                receptors for estrogen, progesterone and HER2?
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3b' value='Yes' data-bind='checked: pHxBrCA3Neg'>Yes</input>
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3b' value='No' data-bind='checked: pHxBrCA3Neg'>No</input>
            </td>
            <td width='25%'>
                <input type='radio' name='Q3b' value='Unknown' data-bind='checked: pHxBrCA3Neg'>I don't know</input>
            </td>
        </tr>
        <tr>
            <td width='50%' valign='top'>
                Q3c: My cancer was found in more than one location of the same breast?
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3c' value='Yes' data-bind='checked: pHxBrCAGT1PrimarySame'>Yes</input>
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3c' value='No' data-bind='checked: pHxBrCAGT1PrimarySame'>No</input>
            </td>
            <td width='25%'>
                <input type='radio' name='Q3c' value='Unknown' data-bind='checked: pHxBrCAGT1PrimarySame'>I don't know</input>
            </td>
        </tr>
        <tr>
            <td width='50%' valign='top'>
                Q3d: I have had cancer in both breasts?
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3d' value='Yes' data-bind='checked: pHxBrCAGT1PrimaryBoth'>Yes</input>
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3d' value='No' data-bind='checked: pHxBrCAGT1PrimaryBoth'>No</input>
            </td>
            <td width='25%'>
                <input type='radio' name='Q3d' value='Unknown' data-bind='checked: pHxBrCAGT1PrimaryBoth'>I don't know</input>
            </td>
        </tr>
        <tr>
            <td width='50%' valign='top'>
                Q3e: I have had <span class='explained'>skin involvement with my breast cancer</span>?
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3e' value='Yes' data-bind='checked: pHxBrCADermMan'>Yes</input>
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q3e' value='No' data-bind='checked: pHxBrCADermMan'>No</input>
            </td>
            <td width='25%'>
                <input type='radio' name='Q3e' value='Unknown' data-bind='checked: pHxBrCADermMan'>I don't know</input>
            </td>
        </tr>
    </table>
    </p>
    <!--
    <br>
    <div data-bind='html: results'>
    </div>
    -->
</div>

<!--
Copyright 2011 Health Records for Everyone

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->