<div>
    <p>
        You may have wanted an explanation for:
    </p>
    <p>
        <span class='explained'>Skin involvement with your breast cancer</span> – There are certain genetic diseases
        that increase that risk of developing breast or ovarian cancer.  Some of these have unusual skin manifestations.
    </p>
    <p>
        For purposes of this study, if you have had <i><b>any</b></i> skin manifestations associated with your breast
        cancer, answer "Yes" to this question.
    </p>
</div>