<div>
    <p>
        You may have wanted an explanation for:
    </p>
    <p>
        <span class='explained'>Close blood relatives</span> – <span data-bind='html: getCloseBloodRelatives'></span>
    </p>
    <p>
        <span class='explained'>Ashkenazi Jewish blood relatives</span> – Women from certain ethnic groups
        have a higher chance of arrying BRCA gene mutations, such as Askkenazi Jews.
    </p>
    <p>
        Ashkenazi Jews are people whose blood relatives (related by birth, NOT just by marriage) can be traced to Jews
        of Central and Eastern Europe.
    </p>
    <p>
        For more details see <a href="http://en.wikipedia.org/wiki/Ashkenazi_Jews">
        http://en.wikipedia.org/wiki/Ashkenazi_Jews</a>
    </p>
    <p>
        For purposes of this study,
        unless you know <b><i>for sure</i></b> that you have Ashkenazi Jewish blood relatives,
        answer "No" to this question.
    </p>
</div>