<div>
    <p>
        More information will help us assess your chances of having BRCA gene mutations.
    </p>
    <p>
        Q3i: Please indicate whether or not you have <b><i>also</i></b> had any of following,
        and if so, which:
    </p>
    <div>
        <input type='radio' name='Q3i' value='Yes' data-bind='checked: pHxBrCARiskGroupC'>Yes</input>
        <div class='nestedChecks'>
            <div>
                <input type='checkbox' data-bind='checked: pHxBrCAThyroidCA'/>
                <span>Thyroid cancer</span>
            </div>
            <div>
                <input type='checkbox' data-bind='checked: pHxBrCASarcoma'/>
                <span>Sarcoma</span>
            </div>
            <div>
                <input type='checkbox' data-bind='checked: pHxBrCAAdrenalCA'/>
                <span>Adrenocortical carcinoma</span>
            </div>
            <div>
                <input type='checkbox' data-bind='checked: pHxBrCAEndometrialCA'/>
                <span>Endometrial cancer</span>
            </div>
            <div>
                <input type='checkbox' data-bind='checked: pHxBrCAPancreaticCA'/>
                <span>Pancreatic cancer</span>
            </div>
            <div>
                <input type='checkbox' data-bind='checked: pHxBrCABrainTumors'/>
                <span>Brain tumors</span>
            </div>
            <div>
                <input type='checkbox' data-bind='checked: pHxBrCAGastricCA'/>
                <span>Diffuse gastric cancer</span>
            </div>
            <div>
                <input type='checkbox' data-bind='checked: pHxBrCALeukLymphoma'/>
                <span>Leukemia or lymphoma</span>
            </div>
        </div>
        <input type='radio' name='Q3i' value='No' data-bind='checked: pHxBrCARiskGroupC'>No</input><br />
        <input type='radio' name='Q3i' value='Unknown' data-bind='checked: pHxBrCARiskGroupC'>I don't know</input>
    </div>
    <!-- For debugging
    <br>
    <div data-bind='html:results'>
    </div>
    -->
</div>