<div>
    <p>
        You may have wanted an explanation for:
    </p>
    <p>
        <span class='explained'>Cancer</span> – cancer cells divide and grow uncontrollably, forming tumors
        that can spread to nearby or more distant parts of the body. In contrast, benign growths do not
        spread throughout the body.
    </p>
    <p>
        <span class='explained'>Breast cancer</span> – cancer that starts in breast cells. There are several types of
        breast cells that may become cancerous.
    </p>
    <p>
        Breast cancers are described by the type of cells involved and whether the cancer is confined or has spread.
    </p>
    <p>
        When the cancer cells are confined (not spread), this is called in situ.
    </p>
        <span class='explained'>DCIS</span> – One example of confined cancer is “DCIS,” which stands for ductal carcinoma in situ.
        This is a type of cancer confined to the breast milk ducts.
    <p>
        For more details see <a href="http://en.wikipedia.org/wiki/Breast_cancer">
        http://en.wikipedia.org/wiki/Breast_cancer</a>
    </p>
</div>