<div>
    <p>
        Please answer <b><i>all</i></b> of the following questions about your <span class='explained'>close blood relatives</span>
        who have had breast cancer  ...
    </p>
    <p>
    <table frame='border' rules='all' border='2px'>
        <tr>
            <td width='50%' valign='top'>
                Q6a: One or more of my close blood relatives who has had breast cancer is a man (genetic male)?
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q6a' value='Yes' data-bind='checked: fHxBrCAMale'>Yes</input><br />
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q6a' value='No' data-bind='checked: fHxBrCAMale'>No</input><br />
            </td>
            <td width='25%'>
                <input type='radio' name='Q6a' value='Unknown' data-bind='checked: fHxBrCAMale'>I don't know</input>
            </td>
        </tr>
        <tr>
            <td width='50%' valign='top'>
                Q6b: Two or more close blood relatives from the SAME SIDE (mother’s or father’s) of my family
                have had breast cancer?
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q6b' value='Yes' data-bind='checked: fHxBrCASameSideGE2'>Yes</input><br />
            </td>
            <td width='12.5%'>
                <input type='radio' name='Q6b' value='No' data-bind='checked: fHxBrCASameSideGE2'>No</input><br />
            </td>
            <td width='25%'>
                <input type='radio' name='Q6b' value='Unknown' data-bind='checked: fHxBrCASameSideGE2'>I don't know</input>
            </td>
        </tr>
    </table>
    </p>
</div>