<div>
    <p>
        From your answers so far, it appears that your chances of having an inherited propensity
        for developing breast or ovarian cancer may be average.  One last question will help us make that determination.
    </p>
    <p>
        Q7: Have any of your female <span class='explained'>close blood relatives</span> lived beyond age 45 years?
    </p>
    <p>
    <table width='70%'>
        <tr>
            <td width='25%' valign='center'>
                <input type='radio' name='Q7' value='Yes' data-bind='checked: fHxSufficient'>Yes</input>
            </td>
            <td class="hello" width='25%' valign='center'>
                <input type='radio' name='Q7' value='Unknown' data-bind='checked: fHxSufficient'>No</input>
            </td>
            <td colspan=2></td>
        </tr>
    </table>
    </p>
    <!--
    <br>
    <div data-bind='html: results'>
    </div>
    -->
</div>