<div>
    <p>
        I have completed
        <span data-bind='html: questionnaireTitle'></span>
        <span data-bind='html: questionnaireVersion'></span>
    </p>
    <table>
        <tr>
            <td valign='top' width='50%'><span data-bind='html: identification'></span></td>
            <td width='50%'>
                <span>My contact number: </span><input type='text' data-bind='value: patientCallbackNumber' /><br />
                <input type='checkbox' data-bind='checked: callbackReq'>Please call me (allow 3 working days)</input>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td valign='top' width='50%'>
                I indicated that:
                <span data-bind='html: $root.exitRationale()'></span>
            </td>
            <td valign='top' width='50%'>
                <br /><br />
                <sup>&#8224;</sup><span data-bind='html: getCloseBloodRelatives'></span>
            </td>
        </tr>
    </table>
    <hr />
    <p>
        Thank you!  
    </p>
    <p>
        The average woman in the US has a one in ten chance of developing breast cancer.  Your
        answers suggest that you <b><i>may</i></b> have higher than average chance of developing breast or ovarian cancer.
        To evaluate this more thoroughly, we recommend that you talk with a
        <span data-bind='text: sponsorAbbrev'></span> genetic counseling professional.
    </p>
    <p>
        Please call now to set up that appointment:  <span data-bind='text: sponsorContactPhone'></span>.
    </p>
    <p>
        You also may ask the receptionist for our handout on this topic.
    </p>
    <p>
    <div data-bind='html: assembleInternetResources'>
    </div>
    </p>
    <p>
        If you have <b><i>already</i></b> had genetic testing and still have questions about
        what this means, please discuss with your care providers at your earliest
        convenience.
    </p>
    <p>
        In case any of the information you have entered is incorrect, please click the "Back" button below as often as
        you need to and change any answers that need correction.
    </p>
    <p>
        Otherwise, please click the "Print" button below to print this page.  Pick up your printout,
        then return this iPad to the desk where you obtained it.
    </p>
    <!--
    <br>
    <div data-bind='html: assembleResults'>
    </div>
    -->
</div>

<!--
Copyright 2011 Health Records for Everyone

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->