<div>
    <p>
        As you may know, mammograms are xrays done to look for changes in the breast,
        including changes which may suggest the presence of breast cancer.
    </p>
    <p>
        This questionnaire gathers information that can help us identify and lower
        your chances of getting breast and / or ovarian cancer.

    </p>
    <p>
        This questionnaire is meant for women who have not already had
        <span class='explained'>genetic testing for BRCA1 and BRCA2 mutations</span>.
    </p>
    <p>
        This questionnaire and its interpretation as presented here
        are based on widely-accepted, national guidelines for genetic counseling referrals
        (National Comprehensive Cancer Network, 2011 BR/OV-1).
        After you complete this questionnaire, a link to the NCCN web-site will be provided
        where you can go to find further detailed information.
    </p>
    <p>
        If our interpretation of the answers you supply to this questionnaire suggests that
        your chance of having a detectable genetic abnormality is "Above Average" or "Indeterminate", you should
        <b><i>not</i></b> conclude that you will develop cancer.  Similarly, if our interpretation
        suggests that your chance of such an abnormality is "Average" or "Indeterminate", you should
        <b><i>not</i></b> conclude that you are safe from developing cancer.
    </p>
    <p>By clicking "Next" below, I affirm that I am:</p>
    <ul>
        <li>a woman (<span class='explained'>genetic female</span>)</li>
        <li>who has not had <span class='explained'>genetic testing for BRCA1 and BRCA2</span></li>
        <li>here for a <span class='explained'>“screening” rather than a “diagnostic” mammogram</span></li>
    </ul>
</div>